@use "../../assets/styles/variables" as var;
@use "../../assets/styles/mixins" as mixin;

.lottie-card {
	width: 32%;
	background: var(--color-neutral-8);

	&__inner-container {
		display: flex;
		gap: 24px;
		padding: 21% 13%;
		flex-direction: column;
		align-items: center;
		text-align: center;
		@media (max-width: var.$breakpoint-sm) {
			padding: 14% 7%;
		}
	}

	&__lottie {
		width: 35%;
		height: auto;
		min-width: 90px;
	}

	&__subheading {
		color: var(--color-neutral-112);
	}
	@media (max-width: var.$breakpoint-lg) {
		width: 45%;
	}
	@media (max-width: var.$breakpoint-md) {
		width: 100%;
		max-width: 450px;
	}
}
