@use "./assets/styles/variables" as var;
@use "./assets/styles/text-variables" as text;
@use "./assets//styles/mixins" as mixin;
html {
	body {
		margin: 0;
		#app {
			font-family: text.$font-family-brand, text.$font-family-default,
				sans-serif;
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: 100vh;
			margin: 0;
			background-color: var.$neutral-0;
			color: white;

			h1 {
				color: var.$neutral-128;
			}

			button {
				@include mixin.button;
				&--text_link {
					color: var.$neutral-128;
					border-bottom: 1px solid var.$neutral-128;
					&:hover {
						color: var.$ow-red-hover;
						border-color: var.$ow-red-hover;
					}
				}
			}
		}
	}
}
