@use "./assets/styles/variables" as var;
@use "./assets/styles/mixins" as mixin;
@use "./assets/styles/fonts.scss";
@use "./assets/styles/containers.scss";

html,
body {
	margin: 0;
	#app {
		font-family: var.$font-family-brand, var.$font-family-default, sans-serif;
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
		background-color: var.$neutral-0;
		color: white;

		h1 {
			@include mixin.headline-xxl;
		}

		button {
			@include mixin.button;
			&--text_link {
				color: var.$neutral-128;
				border-bottom: 1px solid var.$neutral-128;
				&:hover {
					color: var.$ow-red-hover;
					border-color: var.$ow-red-hover;
				}
			}
		}
	}
}
