@use "./variables" as var;
@use "./text-mixins.scss" as textMixin;
@forward "./text-mixins.scss";

@mixin button(
	$default: var(--color-brand-ow),
	$hover: var(--color-hover-brand-ow),
	$color: var(--color-neutral-128),
	$border-color: var(--color-brand-ow),
	$border-color-hover: var(--color-hover-brand-ow)
) {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 32px;
	color: $color;
	background: $default;
	border: 1px solid $border-color;
	transition: all 0.3s ease-in-out;
	&:hover {
		background-color: $hover;
		border-color: $border-color-hover;
	}
}
