@forward "./text-variables.scss";

$neutral-0: #000000;
$neutral-8: #101010;
$neutral-16: #202020;
$neutral-24: #303030;
$neutral-32: #404040;
$neutral-40: #505050;
$neutral-48: #606060;
$neutral-80: #9f9f9f;
$neutral-88: #afafaf;
$neutral-96: #bfbfbf;
$neutral-104: #cfcfcf;
$neutral-112: #dfdfdf;
$neutral-120: #efefef;
$neutral-128: #ffffff;

$ow-red: #d34037;
$ow-red-hover: #f05c48;
$ow-gradient: linear-gradient(#ea483b, #ea483b00);

$font-1800: 72px !default;
$font-1600: 64px !default;
$font-1300: 52px;
$font-1100: 44px;
$font-1000: 40px;
$font-900: 36px;
$font-800: 32px;
$font-700: 28px;
$font-600: 24px;
$font-550: 22px;
$font-500: 20px;
$font-450: 18px;
$font-400: 16px;
$font-350: 14px;

$font-weight-bold: 700 !default;
$font-weight-medium: 500 !default;
$font-weight-regular: 400;
